@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

@theme {
    --font-poppins: "Poppins";

    --color-bg1: #101010;
    --color-bg2: #121212;
    --color-bg3: #171717;
    --color-bg4: #1C1C1C;
    --color-bg5: #202020;
    --color-bg-icon: #171717;

    --color-fg1: #F2F2F2;
    --color-fg2: #E5E5E5;
    --color-fg3: #D5D5D5;
    --color-fg4: #A3A3A3;
    --color-fg5: #808080;
    --color-fg-link: #7DD3FC;
    --color-fg-icon: #A1A1A1;
    --color-fg-placeholder: #6B6B6B;

    --color-good: #34D399;
    --color-bad: #FB2C36;

    --color-border: #333333;
    --color-separator: #2E2E2E;

    --text-body-xxs: 8px;
    --text-body-xxs--line-height: normal;
    --text-body-xs: 10px;
    --text-body-xs--line-height: normal;
    --text-body-sm: 12px;
    --text-body-sm--line-height: normal;
    --text-body-md: 14px;
    --text-body-md--line-height: normal;
    --text-body-lg: 16px;
    --text-body-lg--line-height: normal;

    --text-label-sm: 11px;
    --text-label-sm--line-height: normal;
    --text-label-md: 12px;
    --text-label-md--line-height: normal;
    --text-label-lg: 14px;
    --text-label-lg--line-height: normal;

    --text-title-sm: 16px;
    --text-title-sm--line-height: normal;
    --text-title-md: 18px;
    --text-title-md--line-height: normal;
    --text-title-lg: 20px;
    --text-title-lg--line-height: normal;
}

@layer components {
    .auth-input {
        @apply px-5 py-3 border border-transparent rounded-xl text-sm shadow-xl;
    }
    .link {
        @apply hover:text-fg-link transition-colors
    }
}

* {
    font-family: var(--font-poppins);
}

body {
    height: 100vh;
    width: 100vw;
    background-color: var(--color-bg1);
}

input {
    outline: none;
}

button {
    cursor: pointer;
}
