@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

@theme {
    --font-poppins: "Poppins";
    --font-outfit: "Outfit";

    --color-background0: #1c1c1c;
    --color-background1: #2c2c2c;
    --color-background2: #3c3c3c;

    --color-foreground0: #f2f2f2;
}

@layer components {
    .auth-input {
        @apply px-5 py-3 border border-transparent rounded-xl bg-background1 text-foreground0 text-sm shadow-xl;
    }
}

* {
    font-family: var(--font-poppins);
}

body {
    height: 100vh;
    width: 100vw;
    background-color: var(--color-background0);
}

input {
    outline: none;
}

button {
    cursor: pointer;
}

h1 {
    font-size: 8rem;
}

h2 {
    font-size: 6rem;
}

h3 {
    font-size: 4rem;
}

h4 {
    font-size: 2rem;
}

h5 {
    font-size: 1.5rem;
}
